<footer class="footer  footer-dark mt-auto py-3   " style="background-color: #000000; " >
  <div class="container"><center>
    <span class="text-muted"><font size="4px"><b>COPYRIGHT ©2021<br></b></font> <font size="2px">ALL RIGHTS RESERVED | THIS TEMPLATE IS MADE WITH  BY SHUBHAM DHOOT</span>
    </font>
    </center>
  </div>
</footer>